
.contents {
    background-color: #fde7d5f5;
    margin-left: 50px;
    width: 800px;
    color: #585858;
}



h2 {
    margin-left: 50px;
    background-color: #ff7300;
    color: white;
    width: 800px;
    font-size: 100%;
    padding: 5px 0 5px 20px;
}

h3 {
    color: #3131ff;
}

.price {
    float: right;
    color: black;

}
.price span {
    font-size: 150%;
}
.main_image img {
    width: 300px;
}
.hotel_image img {
    width: 90px;
    padding: 10px 0 0 0 ;

}
.hotel_image {
    display: flex;
    justify-content: space-between;
}
.contents {
    display: flex;
}
.main {
    margin: 10px;
    width: 300px;

}